.header{
    height: 50px;
    width: 100%;
    /* background-color: rgb(15, 15, 54); */
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    align-items: center;
    box-shadow: 3px 3px 7px rgb(18, 2, 153);
    margin-bottom: 8px;
  }

  .left{
      cursor: pointer;
      font-size: 25px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      position: relative;
      /* background-color: red; */
      height: 40px;
      width: 40px;
      border-radius: 100%;
      overflow: hidden;
      border-color: transparent;
  }
  .center{
    cursor: pointer;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-shadow: 2px 2px 5px rgb(151, 2, 2), -2px -2px 5px rgb(0, 0, 197);
    font-weight: bold;
}
.right{
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    fill: black;
}
.right svg{
    cursor: pointer;
}
.right svg:active{
    opacity: 0;
}
.desktopRight{
    display: none;
}
/* desktop version */

@media screen and (min-width: 1080px){
    .header{
        height: 100px;
        display: flex;
        justify-content: flex-start;
        column-gap: 25px;
      }

      
  .left{
    height: 70px;
    width: 70px;
}
.center{
  font-size: 35px;
  color: white;
  text-shadow: 2px 2px 5px rgb(151, 2, 2), -2px -2px 5px rgb(0, 0, 197);
}
.right{
  display: none;
}
.desktopRight{
    display: flex;
    width: 20%;
    margin-left: 50%;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 17px;
}
.desktopRight div{
    cursor: pointer;
}
.desktopRight div:active{
    opacity: 0;
}
}