.container{
    height: auto;
    width: 100%;
    background-color: #121212;
    padding: 1% 2%;
    color: white;
}
.first{
    height: auto;
    width: 100%;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}
.head{
    font-size: 16px;
    width: 100%;
    font-weight: 700;
    text-decoration: underline;
}
.first div{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 300px;
}
.first div a{
    margin-left: 5px;
    cursor: pointer;
    color: white;
    padding: 1%;
    border-radius: 10px;
    background-color: blue;
    text-align: center;
    width: 100px !important;
    outline: none;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.first div a:hover{
    background-color: orange;
    color: black;
    font-weight: 700;
}
.first div a:focus{
    outline: none !important;
}
.first div:active{
    opacity: 0;
}
@media screen and (min-width: 1080px){
    .container{
        height: auto;
        width: 100%;
        background-color: #121212;
        padding: 1% 2%;
        color: white;
    }
    .first{
        height: auto;
        width: 100%;
        font-size: 13px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        position: relative;
        padding-top: 60px;
    }
    .head{
        font-size: 16px;
        width: 100%;
        font-weight: 700;
        text-decoration: underline;
        position: absolute;
        top: 2%;
    }
    .first div{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .first div:active{
        opacity: 0;
    }

}